<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.project.festival.mapper.IFestivalMapper">
	
	<select id="getFestival" resultType="Festival"> 
		SELECT * FROM	
			(
			SELECT ROWNUM AS rn, tbl.*
				FROM	
				(
				SELECT * FROM festival
				<include refid="search" />
				ORDER BY bno DESC
				) tbl
			)
		<!-- CDATA: Character Data의 약자로, 마크업 언어에서 문자열 데이터를 표기하기 위한 문법입니다.
			특수 문자 등을 태그가 아니라 순수한 문자로 표기하고 싶을 때 사용하는 태그입니다. -->
		<![CDATA[
		WHERE rn > #{pageStart} 
		AND rn <= #{pageEnd}
		]]>
	</select>
</mapper>
