<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.project.reply.mapper.IReplyMapper">
	
	<!-- 댓글 등록 -->
	 <insert id="regist">
		INSERT INTO reply
		(comment_num, content, user_id, ftv_num)
		VALUES(seq_reply_comment_num.NEXTVAL, #{content}, #{userId}, #{ftvNum})
	</insert>  
	
	<!-- 댓글 수정 -->
	<update id="update">
      UPDATE reply
      SET comment_num = #{commentNum}, content = #{content}, user_id = #{userId}, ftv_num = #{ftvNum}
      WHERE reply_no = #{replyNo}
   </update>
	
	
	

	
	
</mapper>